<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/theme.css">
    <title>Explore US Representatives</title>
</head>

<div class = 'nav'>
<!-- You should insert the nav bar here! 
	Remember that you can hard code the links for each entry 
	beacause it doesn't change depending on the page we are on.
	Otherwise, we would have to use a partial. 

	Also, feel free to go into public/css/ and add a 'nav' class to
	the file.
-->
</div>

<body>
    {{{body}}}
</body>
</html>

