<div class="nav">
    <h1>My Names's Blog</h1>
    <div class="tags">
        <a href="/tag/tagname" class="tag">tagname</a>
        <a href="/tag/tagname" class="tag">tagname</a>
    </div>
</div>
<br>
<hr>
