<div class="nav">
    <h1>Sashank's Blog</h1>
    {{#if tags}}
    <div class="tags">
    	{{#each tags}}
	        <a href="/tag/{{this}}" class="tag">{{this}}</a>
        {{/each}}
    </div>
    {{/if}}
</div>
<br><hr>