<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/public/main.css">
</head>

<body>
    {{{body}}}
</body>

<script>
	{{{state}}}
</script>

<script src="/public/main.js"></script>

</html>
